.summarycount_outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summarycount_inner {
    background-color: #f7f8fa;
    min-width: 100px;
    width: 10%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 5px;
}

.summarycount_label {
    font-size: small;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.summarycount_inner_row1 {
    margin-bottom: 50px;
    color: gray;
    font-size: large;
}

.summarycount_inner_row2 {
    color: gray;
    font-size: x-large;
    font-weight: bold;
}