.login {
    height: 100vh;
    width: 100%;
    background-color: #eae7ea;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.login_outer_row1 {
    background-color: white;
    border: 3px solid lightgray;
    box-shadow: 10px;
    border-radius: 10px;
    min-height: 55vh;
    align-items: center;
    justify-items: center;
}

.login_outer_row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.login_inner_row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;

}

.login_inner_row1 label {
    font-size: 25px;
    font-style: bold;
    font-family: 'Monospace';
}

.login_inner_row1 img {
    height: 30px;
    width: 25px;
    margin-right: 5px;
}

.login_inner_row6{
    padding-bottom: 20px;
}


.login_inner_row2 {
    margin: 10px;
    margin-left: 14px;
    margin-top: 30px;
    font-size: 25px;
    font-family: Gothic Medium;
}

.login_inner_row3 {
    margin: 10px;
    font-size: 10px;
    margin-left: 18px;
    margin-top: -8px;
    color: #CECDD0;
    font-size: 15px;
    font-family: sans-serif;
}

.login_inner_row4 {
    margin: 10px;
}

.login_inner_row4 input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    margin-left: 5px;
    padding-right: 150px;
}

.login_inner_row5 {
    margin: 10px;
}

.login_inner_row5 input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    margin-left: 5px;
    padding-right: 150px;
}

.login_inner_row6 {
    margin: 10px;
    justify-content: left;
    align-items: center;
    display: flex;
    margin-left: 29px;

}

.login_inner_row6 label {
    color: #bab9bd;
}

.login_inner_row6 input {
    height: 15px;
    width: 15px;
    margin-left: -9px;
}

.login_inner_row6 a {
    margin-left: 90px;
    color: #c6a5fec7;
    text-decoration: none;
}

.login_inner_row7 {
    margin: 10px;
}

.login_inner_row7 input {
   padding: 12px;
   width: 45vh;
    margin-left: 14px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.658);
    background-color: #9155FD;
    border: none;
    cursor: pointer;
    margin-right: 15px;
   
}

.login_outer_row2 {
    margin-top: 35px;
}

.login_outer_row2 span {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}